.DS_Store

*.log
log/*
.tmp
.npmrc
.idea

npm-debug.log
config-local.*

skaffold
test
docker
lib
.circleci
.bin
.dockerignore
.eslintignore
.eslintrc
.gitignore
.nvmrc
.prettierignore
.prettierrc
tsconfig.json
